{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MMPaysage</title>

  <!-- Bootstrap core CSS -->
  <link href="projets/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="projets/static/css/heroic-features.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body style="font-family: 'Lobster'";>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success" id="nav">
    <div class="container">
      <a class="navbar-brand" href="/" style="color:yellow;">MM.Paysages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color:yellow;">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allprojets/" style="color:yellow;">Projet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conseils/" style="color:yellow;">Conseils du mois</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/post/" style="color:yellow;">Blog</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/" style="color:yellow;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-color: #90EE90;" id="jumbo">
      <h1 class="display-3">MM.Paysages</h1>
      <p class="lead">Bienvenue sur la page des conseils. Tout les mois un à plusieurs conseils seront publiés! </p>
    </header>

    <center><h2>Conseils</h2></center>
    <hr>

    <!-- Page Features -->
    <div class="row text-center">
    {% for conseil in conseils %}
      <div class="col-lg-12 col-md-6 mb-4 card border-warning">
        <div class="card h-100">
          <img class="card-img-top" src="{{ conseil.imageDeCouverture }}" alt="">
          <div class="card-body bg-success">
            <h4 class="card-title">Mois: {{ conseil.mois}}</h4>
            <p class="card-text">{{ conseil.conseil }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <style>
        #scrollUp
        {
          position: fixed;
          bottom : 10px;
          right: -100px;
          opacity: 1;
        }
        h1, h2, h4 {
          color:yellow;
          text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        }
        body {
          background-image: url(https://cdn.pixabay.com/photo/2015/12/01/20/28/green-1072828__340.jpg);
          opacity:0.8;
        }
        #nav {
          opacity:1;
        }
        #jumbo {
          border-width:1px;
          border-style:solid;
          border-color:yellow ;
        }
    </style>
         
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
         
        <script>
        jQuery(function(){
        $(function () {
        $(window).scroll(function () {
        if ($(this).scrollTop() > 200 ) { 
        $('#scrollUp').css('right','10px');
        } else { 
        $('#scrollUp').removeAttr( 'style' );
        }
         
        });
        });
        });
        </script>
        <div id="scrollUp">
            <a href="#top"><img src="https://img.icons8.com/color/2x/chainsaw.png"></a>        
        </div>
  <!-- /.container -->
  
  <!-- Footer -->
<footer class="py-5 bg-success">
    <div class="container">
        <p class="m-0 text-center" style="color:yellow;">Copyright &copy; MMPaysage 2019</p>
    </div>
    <!-- /.container -->
</footer>

  <!-- Bootstrap core JavaScript -->
<script src="projets/static/vendor/jquery/jquery.min.js"></script>
<script src="projets/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
