{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css"  {% static 'static/projet/css/projet.css' %}>
{% endblock %}
{% block content %}

<div class="row" style="margin-left:100px;">
    <div class="col-sm-6">
        <div style="margin-bottom: 20px;">
            <h2>Contactez-nous</h2>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Envoyer"/ style="background-color:yellow;">
            </form>
        </div>
    </div>
    <div class="col-sm-5" style="opacity:0.7;">
        <div class="card" style="margin-top: 50px;">
            <div class="card-body">
                <h5 class="card-title">Contact</h5><br>
                <p class="card-text">Télephone: 06 42 44 13 60</p><br>
                <p class="card-text">Email: rizz34@free.fr</p><br>
            </div>
            </div>
        </div> 
    </div>       
{% block style %}
<style>
    #card {
        background-color:yellow;
        opacity:0.7;
        color:green;
    }
    body {
      background-image: url(https://cdn.pixabay.com/photo/2017/02/05/17/39/garden-2040714__340.jpg);
      background-size: 1400px 1000px;
      opacity:0.8;
    }
    form {
        color:yellow;
        opacity:0.8;
    }
    h5 {
        color:yellow;
    }
</style>
{% endblock %}
{% endblock %}