{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container" style="margin-bottom:20px">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Page details projet</h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
            <img class="img-fluid" src="{{ projet.imageDeCouv }}" alt="">
          </div>
      
          <div class="col-md-4">
            <h3 class="my-3" style="color:yellow;">Project Description</h3>
            <p style="color:yellow;">{{ projet.description }}</p>
            <h3 class="my-3" style="color:yellow;">Project Titre</h3>
            <ul>
              <li style="color:yellow;">{{ projet.name }}</li>
              <li style="color:yellow;">Catégorie: {{ projet.category }}</li>
            </ul>
          </div>
      
        </div>
        <!-- /.row -->
      
        <!-- Related Projects Row -->
        <h3 class="my-4" style="color:yellow;">Photos Projets</h3>
      
        <div class="row">
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://hdwallpapers.imgix.net/wallpaper-36301572841974pmf98mlwqi.jpg?auto=compress&cs=tinysrgb&dpr=1" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://hdwallpapers.imgix.net/wallpaper-36301572841974pmf98mlwqi.jpg?auto=compress&cs=tinysrgb&dpr=1" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://hdwallpapers.imgix.net/wallpaper-36301572841974pmf98mlwqi.jpg?auto=compress&cs=tinysrgb&dpr=1" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://hdwallpapers.imgix.net/wallpaper-36301572841974pmf98mlwqi.jpg?auto=compress&cs=tinysrgb&dpr=1" alt="">
                </a>
          </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <style>
       
        body {
          background-image: url(https://cdn.pixabay.com/photo/2016/05/26/18/53/garden-1418103__340.jpg);
        }
      </style>
{% endblock %}