{% extends 'base.html' %}
{% block content %}
<h2 style="margin-left:50px;">Voici nos projets:</h2>
{# dropdown for listing category #}
<div class="dropdown" style="margin-left:50px;">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 20px;">
        Catégories:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  
        <a class="dropdown-item" href="#">Entretien</a>
        <a class="dropdown-item" href="#">Elagage</a>
        <a class="dropdown-item" href="#">Gazon</a>
        <a class="dropdown-item" href="#">Aménagement</a>
       

    </div>
</div>

      <!-- Page Features -->
        <div class="row text-center">
        {% for proj in projet %}
            <div class="col-lg-5 col-md-6 mb-4 card border-warning" style="margin-left:80px;">
                <div class="card h-100" style="background-color:#90EE90">
                    <img class="card-img-top" src="https://hdwallpapers.imgix.net/wallpaper-36301572841974pmf98mlwqi.jpg?auto=compress&cs=tinysrgb&dpr=1" alt="">
                <div class="card-body bg-success">
                    <h2 class="card-title">{{ proj.name }}</h2>
                    <p class="card-text">{{ proj.description }}</p>
                </div>
                <div class="card-footer">
                  <a href="{% url 'projet' pk=proj.pk %}" class="btn btn-warning">En voir plus!</a>
                </div>
              </div>
            </div>
        {% endfor %}
        {# icon for comeback on the top of the page (style and jquery/ajax integrated) #}
        </div>
        {% block style %}
            <style>
                body {
                    background-image: url(https://cdn.pixabay.com/photo/2016/11/14/02/51/rice-plantation-1822444__340.jpg);
                    background-size: 1500px 1200px;
                }
            </style>
        {% endblock %}
        <style>
                #scrollUp
                {
                    position: fixed;
                    bottom : 10px;
                    right: -100px;
                    opacity:1;
                }
                h1, h2
                {
                    color:green;
                }
                body {
                    opacity: 0.6;
                }
        </style>
                 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script>
            jQuery(function(){
                $(function () {
                $(window).scroll(function () {
                if ($(this).scrollTop() > 200 ){ 
                    $('#scrollUp').css('right','10px');
                } else { 
                    $('#scrollUp').removeAttr( 'style' );
                }
                });
                });
                });            
        </script>
        <div id="scrollUp">
            <a href="#top"><img src="https://static.thenounproject.com/png/851133-200.png"/></a>        
        </div>

{% endblock %}