{% extends 'base.html' %}

{% block content %}
<!-- Page Features -->
<div class="row text-center">
  {% for proj in projet %}
  <div class="col-lg-5 col-md-6 mb-4 card border-warning" style="margin-left:80px;" >
    <div class="card h-100" style="background-color:#90EE90">
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ proj.imageDeCouv }}" alt="">
      <div class="card-body bg-success">
        <h2 class="card-title">{{ proj.name}}</h2>
        <p class="card-text">{{ proj.description }}</p>
        <p class="card-text1">categorie:{{ proj.category }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'projet' pk=proj.pk %}"
          class="btn btn-warning">En voir plus!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div>




{% endblock %}