{% load static %}
<html>
   <head>
       <title>MMPaysages</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0/css/bootstrap-theme.min.css">
       <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   </head>
   <body>
   {% comment %} header avec titre du blog {% endcomment %}
   <div class="page-header">
       <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
       {% block title %}<h1><a href="/" style="color:yellow;">Blog MM.Paysages</a></h1>{% endblock %}
   </div>
   <div>
       <h2>A venir prochainement!!</h2>
   </div>
   {% block lien %}<h2><a href="/">Retour au site</a></h2>{% endblock %}
   {% comment %} div contenant tous les posts du blog {% endcomment %}
   <div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}
           {% endblock %}
           </div>
       </div>
   </div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>